.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50vh;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    border-style: solid;
    flex-direction: column;
}

.typeTask {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.textInput{
    width: 40%;
    height: 50%;
}

